<div class="container">
  <div class="left-side">
    <h1 class="left-side-font">Discipline name</h1>
    <ul>
      <li>Week 1: name of topic</li>
      <li>Week 2: name of topic</li>
      <li>Week 3: name of topic</li>
      <li>Week 4: name of topic</li>
      <li>Week 5: name of topic</li>
      <li>Week 6: name of topic</li>
      <li>Week 7: name of topic</li>
      <li>Week 8: name of topic</li>
      <li>Week 9: name of topic</li>
      <li>Week 10: name of topic</li>
      <li>Week 11: name of topic</li>
      <li>Week 12: name of topic</li>
      <li>Week 13: name of topic</li>
      <li>Prepare to final</li>
    </ul>
  </div>

  <div class="right-side">
    <h1>Topic name</h1>
    <button id="home">Home</button>
    <hr>
    <h3>1.0 Paragraph</h3>
    <p>Content of paragraph</p>
    <h3>1.0 Task</h3>
    <p>Description</p>
  </div>
</div>

