<div class="button-container left">
  <a routerLink = '/disciplines' class="button-container left" id="disciplines"><em class="material-icons">shopping_cart</em>Disciplines</a>
  <a routerLink = '/cart' class="button-container left"><em class="material-icons">shopping_cart</em>Checkout</a>
  <a routerLink = '/cart' class="button-container left"><em class="material-icons">shopping_cart</em>Checkout</a>
</div>

<div class="button-container right">
  <a routerLink = '/support' class="button-container left" id="support"><em class="material-icons">shopping_cart</em>Support</a>
  <a routerLink = '/' class="button-container left" id="home"><em class="material-icons">shopping_cart</em>Home</a>
  <a routerLink = '/profile' class="button-container left" id="profile"><em class="material-icons">person</em>Profile</a>
</div>
<hr>
