<body>
<h1 id="learning">I'm Learning</h1>
<h2 id="courses">Courses</h2>

<div class="course-block">
  <div class="course-name">Course Name 1 <span class="kbtu">KBTU</span></div>
  <div class="course-description">Course Description 1</div>
  <div class="progress-circle">
    <div class="progress-circle-inner">
      <span class="progress-text">50%</span>
    </div>
  </div>
</div>

<div class="course-block">
  <div class="course-name">Course Name 2 <span class="kbtu">KBTU</span></div>
  <div class="course-description">Course Description 2</div>
  <div class="progress-circle">
    <div class="progress-circle-inner">
      <span class="progress-text">50%</span>
    </div>
  </div>

</div>

<div class="course-block">
  <div class="course-name">Course Name 3 <span class="kbtu">KBTU</span></div>
  <div class="course-description">Course Description 3</div>
  <div class="progress-circle">
    <div class="progress-circle-inner">
      <span class="progress-text">50%</span>
    </div>
  </div>

</div>

<div class="course-block">
  <div class="course-name">Course Name 4 <span class="kbtu">KBTU</span></div>
  <div class="course-description">Course Description 4</div>
  <div class="progress-circle">
    <div class="progress-circle-inner">
      <span class="progress-text">50%</span>
    </div>
  </div>

</div>

<div class="course-block">
  <div class="course-name">Course Name 5 <span class="kbtu">KBTU</span></div>
  <div class="course-description">Course Description 5</div>
  <div class="progress-circle">
    <div class="progress-circle-inner">
      <span class="progress-text">50%</span>
    </div>
  </div>

</div>
</body>


